@import "reset.css";

.root-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* header 시작 */
.header-container {
  background-color: rgba(3, 37, 65, 1);
}

.header-wrap {
  height: 64px;
  max-width: 1400px;
  margin: 0 auto; /*가운데 정렬*/


  display: flex;
  align-items: center; /*세로 정렬*/
}

.header-left-wrap {
  display: flex;
}

.header-left-wrap ul {
  display: flex;
  margin-left: 16px;

}
.header-left-wrap li {
  margin-right: 14px;
  padding: 8px;
  display: flex;
  align-items: center;
}


.header-nav-item {
  color: white;
  text-decoration: none;
  font-weight: 600;
}




body {
  font-family: Arial, Helvetica, sans-serif;   
}

.movies-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.movie-container {
  width: 250px;
  margin: 15px;
  border-radius: 5px;
  background-color:#383d79;
  color: white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
.movie-overview {
  box-sizing: border-box;
  width: 250px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  font-size: 14px;
  line-height: normal;
}
.movie-overview h4{
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.movie-overview.hide {
  display: none;
}


.movie-container img {
  max-width: 100%;
}

.movie-info{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.movie-info h4 {
  margin: 0;
}
.movie-info span{
  margin-left: 7px;
}



.adImg {
  width: 100%;
}

.header-nav-item:last-child {
  font-size: 14px;
  font-weight: inherit;
}

.header-nav-item button {
  appearance: none;
  border-style: none;
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 10px;
}



/*movie-detail*/
.movie-detail__box {
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
}
.movie-detail__poster {
  margin-left: 30px;
  margin-right: 50px;
  width: 300px;
  max-width: 500px;
  min-width: 200px;
}
.movie-detail__info {
  margin-top: 20px;
  box-sizing: border-box;
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 함 */
  max-width: 700px; /* 최대 가로 크기를 지정 (원하는 크기로 조절) */
}

.movie-info__head {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 40px;
  margin-bottom: 20px;
  background-color: #042541;
  color: white;
  border-radius: 20px;
}
.movie-info__head h1 {
  font-size: 35px;
}
.movie-info__head span {
  font-size: 25px;
}
.movie-info__detail {
  font-size: 17px;
  padding: 30px 40px;
  line-height: 130%;
  background-color: #cbcfd3;
  border-radius: 20px;
  flex-grow: 1; /* 나머지 공간을 모두 차지하도록 함 */
  max-height: calc(100% - 30px); /* 부모의 높이에서 .movie-info__head의 높이를 뺀 값으로 최대 높이 설정 */
  overflow: auto; /* 내용이 넘치는 경우 스크롤이 나타나도록 함 */
}
